/api-docs
/ROUTINES
/build
/cme_detection/ROUTINES
/*configure.sh
/bin/*db.cfg
/analysis/*.sav
/analysis/*.ps
/analysis/*.txt
.ipynb_checkpoints
/stream/stream.html
/stream/stream.c
/stream/stream.cpython-*.so
/stream/__pycache__
.nova
