/api-docs
/ROUTINES
/build
/config/kcor.*.cfg
/cme_detection/ROUTINES
/*configure.sh
/bin/*db.cfg
/analysis/duty-cycle-info.sav
/analysis/kcor-duty-cycle.sav
/analysis/duty-cycle.ps
/analysis/duty-cycle-histogram.ps
