[primary-data]
type     : required, value=4, type=int
ndims    : required, value=3, type=int
dim0     : required, value=1024, type=int
dim1     : required, value=1024, type=int
dim2     : required, value=3, type=int

[primary-header]
SIMPLE   : required, value=1, type=boolean
BITPIX   : required, value=-32, type=int
NAXIS    : required, value=3, type=int
NAXIS1   : required, value=1024, type=int
NAXIS2   : required, value=1024, type=int
NAXIS3   : required, value=3, type=int
EXTEND   : required, value=0, type=boolean

DATE-OBS : required, type=str
DATE-END : required, type=str
TIMESYS  : required, value=UTC, type=str
DATE_HST : required, type=str
LOCATION : required, value=MLSO, type=str
ORIGIN   : required, value=NCAR/HAO, type=str
TELESCOP : required, value=COSMO K-Coronagraph, type=str
INSTRUME : required, value=COSMO K-Coronagraph, type=str
WAVELNTH : required, value=735, type=int
WAVEFWHM : required, value=30, type=str
OBJECT   : required, type=str, value=K-Corona+sky; sky
DATATYPE : required, values=(science|calibration|engineering|test), type=str
OBSERVER : required, values=(Berkey|Stueben|Waters|Rose|Cotter|Lisapg), type=str

DARKSHUT : required, values=(in|out|mid), type=str
COVER    : required, values=(in|out|mid), type=str
DIFFUSER : required, values=(in|out|mid), type=str
CALPOL   : required, values=(in|out|mid), type=str
CALPANG  : required, type=float
EXPTIME  : required, type=float
NUMSUM   : required, value=512, type=int

BUNIT    : required, value=B/Bsun, type=str
BOPAL    : required, value=1.38E-05, type=float, tolerance=1.0e-08
BZERO    : required, value=0, type=int
BSCALE   : required, value=1.0, type=float
DATAMIN  : required, type=float
DATAMAX  : required, type=float 
DISPMIN  : required, type=float
DISPMAX  : required, type=float
DISPEXP  : required, type=float
DISPGAM  : required, type=float

WCSNAME  : required, value=helioprojective-cartesian, type=str
CTYPE1   : required, value=HPLN-TAN, type=str
CRPIX1   : required, value=512.50, type=float, tolerance=0.01
CRVAL1   : required, value=0.00, type=float
CDELT1   : required, value=5.6430, type=float, tolerance=0.0001
CUNIT1   : required, value=arcsec, type=str
CTYPE2   : required, value=HPLT-TAN, type=str
CRPIX2   : required, value=512.50, type=float, tolerance=0.01
CRVAL2   : required, value=0.00, type=float
CDELT2   : required, value=5.6430, type=float, tolerance=0.0001
CUNIT2   : required, value=arcsec, type=str
INST_ROT : required, value=0.0, type=float
PC1_1    : required, value=1.000, type=float
PC1_2    : required, value=0.000, type=float
PC2_1    : required, value=0.000, type=float
PC2_2    : required, value=1.000, type=float

QUALITY  : required, value=ok, type=str
LEVEL    : required, value=L1, type=str
SOCKETCA : required, value=socketcam.exe, type=str
DATE_DP  : required, type=str
DPSWID   : required, type=str
RCAMCORR : required, value=camera_calibration_MV-D1024E-CL-40257_02.5000_lut40257-20201009.ncdf, type=str
TCAMCORR : required, value=camera_calibration_MV-D1024E-CL-40256_02.5000_lut40256-20201009.ncdf, type=str
XCAMSH0  : required, value=0, type=int
XCAMSH1  : required, value=0, type=int
XCAMCSH0 : required, value=-4, type=int
XCAMCSH1 : required, value=-4, type=int
FIXCAMLC : required, values=(0|1), type=int
CALFILE  : required, type=str
DISTORT  : required, value=dist_coeff_20191216_212805_kcor_darkcorrected_occulter_in_focus.sav, type=str
CAMERAS  : required, values=(RCAM|TCAM|both), type=str
ROLLCORR : required, value=0.7, type=float, tolerance=0.01
DMODSWID : required, value=2016-05-26, type=str
OBSSWID  : required, value=20191125T093731, type=str

RCAMXCEN  : required, type=float
RCAMYCEN  : required, type=float
RCAM_RAD  : required, type=float
RCAM_DCX  : required, type=float
RCAM_DCY  : required, type=float
RCAM_DCR  : required, type=float
TCAMXCEN  : required, type=float
TCAMYCEN  : required, type=float
TCAM_RAD  : required, type=float
TCAM_DCX  : required, type=float
TCAM_DCY  : required, type=float
TCAM_DCR  : required, type=float

RCAMPOLS  : required, type=int
TCAMPOLS  : required, type=int

RSUN_OBS  : required, type=float
RSUN      : required, type=float
R_SUN     : required, type=float
SOLAR_P0  : required, type=float
CRLT_OBS  : required, type=float
CRLN_OBS  : required, type=float
CAR_ROT   : required, type=int
SOLAR_RA  : required, type=float
SOLARDEC  : required, type=float

O1FOCS   : required, type=float
RCAMFOCS : required, type=float
TCAMFOCS : required, type=float
MODLTRT  : required, type=float
CALPOLID : required, value=AP38-006T-1, type=str
DIFFSRID : required, value=mk4-opal, type=str
FILTERID : required, value=ANDV13425-01, type=str
O1ID     : required, value=Optimax, type=str
LYOTSTOP : required, value=35mm, type=str
OCCLTRID : required, values=(OC-991.6"|OC-1000.9"|OC-1006.9"|OC-1018.9"|OC-1017.0" TAPERED|GRID), type=str
#" needed to close quote from line above
MODLTRID : required, value=A, type=str                                   
RCAMID   : required, value=MV-D1024E-CL-40257, type=str
TCAMID   : required, value=MV-D1024E-CL-40256, type=str
TCAMLUT  : required, value=40256_20201009, type=str
RCAMLUT  : required, value=40257_20201009, type=str

CAM1LIN : optional, type=boolean
CAM1VA1 : optional, type=int
CAM1VA2 : optional, type=int
CAM1TI1 : optional, type=int
CAM1TI2 : optional, type=int

CAM2LIN : optional, type=boolean
CAM2VA1 : optional, type=integer
CAM2VA2 : optional, type=int
CAM2TI1 : optional, type=int
CAM2TI2 : optional, type=int

SGSDIMV  : required, type=float
SGSDIMS  : required, type=float
SGSSUMV  : required, type=float
SGSRAV   : required, type=float
SGSRAS   : required, type=float
SGSRAZR  : required, type=float
SGSDECV  : required, type=float
SGSDECS  : required, type=float
SGSDECZR : required, type=float
SGSSCINT : required, type=float
SGSLOOP  : required, type=float
SGSSUMS  : required, type=float

DATACITE : required, value=https://doi.org/10.5065/D69G5JV8, type=str
