<html>
  <head>
    <title>KCor results for [% date %]</title>
    <style>[% include css_location %]</style>
  </head>
  <body>
    <div id="title">
      <h1>[% date %]</h1>
      <h2>Quality</h2>
      <img src="q/[% date %].kcor.quality.png"/>
    </div>

    <div id="summary">
      <h2>Summary</h2>
      <table>
      	<tr>
          <td class="heading"># of L0 files:</td>
	  <td>[% n_raw_files %]</td>
	</tr>

      	<tr>
          <td class="heading"># of L2 files:</td>
          <td>[% n_l2_files %]</td>
        </tr>

      	<tr>
          <td class="heading"># of NRGF files:</td>
          <td>[% n_nrgf_files %]</td>
        </tr>

	<tr>
          <td class="heading">L0 median row/col images:</td>
	  <td>
	    <a href="[% l0_median_rows_cam0_image_href %]">cam0 rows</a>-<a href="[% l0_median_cols_cam0_image_href %]">cam0 cols</a><br/><a href="[% l0_median_rows_cam1_image_href %]">cam1 rows</a>-<a href="[% l0_median_cols_cam1_image_href %]">cam1 cols</a>
	</tr>

	<tr>
          <td class="heading">L2 median row/col images:</td>
	  <td><a href="[% l2_median_rows_image_href %]">rows</a>-<a href="[% l2_median_cols_image_href %]">cols</a></td>
	</tr>

      	<tr>
          <td class="heading">Extended average:</td>
          <td>[% if extavg_href ne '' %]<a href="[% extavg_href %]">img</a>[% end %][% if extavg_cropped_href ne '' %] <a href="[% extavg_cropped_href %]">(cropped)</a>[% end %]</td>
        </tr>

      	<tr>
          <td class="heading">NRGF extended average:</td>
          <td>[% if nrgf_extavg_href ne '' %]<a href="[% nrgf_extavg_href %]">img</a>[% end %][% if nrgf_extavg_cropped_href ne '' %] <a href="[% nrgf_extavg_cropped_href %]">(cropped)</a>[% end %]</td>
        </tr>

      	<tr>
          <td class="heading">Logs:</td>
          <td>[% if reprocess_log_href ne '' %]<a href="[% reprocess_log_href %]">reprocess</a>[% else %]reprocess[% end %]-[% if rt_log_href ne '' %]<a href="[% rt_log_href %]">realtime</a>[% else %]realtime[% end %]-[% if eod_log_href ne '' %]<a href="[% eod_log_href %]">eod</a>[% else %]eod[% end %]</td>
        </tr>

      	<tr>
          <td class="heading">Observer log:</td>
          <td>[% if observer_log_href ne '' %]<a href="[% observer_log_href %]">log</a>[% end %]</td>
        </tr>
      </table>
    </div>

    <div class="spacer">
    </div>

    <div id="timeline">
      <h2>Timeline</h2>

      <table>
       <thead>
         <tr>
           <th>Time</th>
           <th>Type</th>
           <th>Quicklook</th>
           <th>L2 GIF</th>
           <th>NRGF</th>
           <th>2 min average</th>
           <th>Differences</th>
           <th>No mask</th>
         </tr>
       </thead>
       <tbody>
         [% if n_raw_files gt 0 %][% foreach t in raw_times %][% scope t %]
         <tr>
           <td class="left">[% datetime %]</td>
           <td class="centered">[% type %]</td>
           <td class="centered"><a href="[% quicklook_href %]">img</a></td>
           <td class="centered">[% if l2_href ne '' %]<a href="[% l2_href %]">img</a>[% end %][% if l2_cropped_href ne '' %] (<a href="[% l2_cropped_href %]">cropped</a>)[% end %]</td>
           <td class="centered">[% if nrgf_href ne '' %]<a href="[% nrgf_href %]">img</a>[% end %][% if nrgf_cropped_href ne '' %] (<a href="[% nrgf_cropped_href %]">cropped</a>)[% end %]</td>
           <td class="centered">[% if avg_href ne '' %]<a href="[% avg_href %]">img</a>[% end %][% if avg_cropped_href ne '' %] (<a href="[% avg_cropped_href %]">cropped</a>)[% end %]</td>
           <td class="centered">[% if diff_href ne '' %]<a href="[% diff_href %]">[% diff_quality %]</a>[% end %]</td>
           <td class="centered">[% if nomask_href ne '' %]<a href="[% nomask_href %]">img</a>[% end %][% if nomask_cropped_href ne '' %] (<a href="[% nomask_cropped_href %]">cropped</a>)[% end %]</td>
         </tr>
	 [% end %][% end %][% end %]
       </tbody>
       <tfoot>
       </tfoot>
      </table>
    </div>
  </body>
</html>
