body {
    font-family: Helvetica;
    font-size: 11pt;
}

div.spacer {
    height: 40px;
    clear: both;
}

h1 {
    font-size: 48pt;
    color: #888;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 16pt;
    color: #888;
    font-weight: bold;
}

#timeline thead {
    background: #e0e0e0;
}

th {
    font-size: 80%;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

td {
    font-size: 80%;
}

.left {
    padding-right: 2em;
}

.centered {
    text-align: center;
}

.heading {
    font-weight: bold;
    padding-right: 1em;
}

div#title {
    float: left;
}

div#summary {
    float: right;
    width: 250pt;
}

div#timeline {

}
